.posts {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.post {
  width: 250px;
  margin-left: 30px;
  margin-bottom: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .2);
}

.post img {
  display: block;
  width: 100%;
  margin: 0;
}

.post p {
  margin: 0;
  padding: 10px;
  text-align: center;
}