.blogpost {
  max-width: 800px;
  margin: 0 auto;
}

.blogpost h1 {
  font-size: 64px;
  text-align: center;
  margin-bottom: 64px;
}

.thumb {
  display: block;
  width: 100%;
  max-width: 460px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 80px;
}

.tags {
  color: #333;
  font-size: 16px;
  text-align: right;
  margin-bottom: 20px;
}

.tag {
  margin-left: 10px;
}

.body-text {
  margin-bottom: 64px;
  background: none;
}

@media screen and (max-width:740px) {
  .blogpost h1 {
    font-size: 40px;
  }
}