body {
  background-color: rgb(232, 238, 234);
}

.bloglist-title {
  text-align: center;
  margin-bottom: 40px;
}

.posts {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
