.thumb {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

.tags {
  color: #333;
  font-size: 16px;
  text-align: right;
  margin-bottom: 20px;
}

.tag {
  margin-left: 10px;
}

.body-text {
  margin-bottom: 20px;
}
