abbr[title] {
  border-bottom: none;
}

.contact-title {
  text-align: center;
  margin-bottom: 40px;
}

.contact-form {
  max-width: 740px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label,
.form-group input,
.form-group textarea {
  display: block;
}

.form-group label span {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group textarea {
  width: 100%;
}

.form-group-btn {
  margin-top: 40px;
  text-align: center;
}